<div class="forgot-password-card">
    <div class="forgot-password-header">
        <h1 class="forgot-password-title">Taxi Platform</h1>
    </div>
    <div *ngIf="errorMessage" class="error-box">
        <p class="error-text">{{ errorMessage }}</p>
    </div>
    <div *ngIf="successMessage" class="success-box">
        <p class="success-text">{{ successMessage }}</p>
    </div>
    <div *ngIf="step === 'request'">
        <p class="description">
            Enter your email and we'll send you a link to reset your password
        </p>

        <form [formGroup]="requestForm" (ngSubmit)="onRequestSubmit()" class="forgot-password-form">
            <cmn-input id="email" label="Email" type="email" placeholder="example@email.com" formControlName="email">
                <div *ngIf="submitted && requestFormControls['email'].errors" class="field-error">
                    <span *ngIf="requestFormControls['email'].errors['required']">Email is required</span>
                    <span *ngIf="requestFormControls['email'].errors['email']">Enter a valid email</span>
                </div>
            </cmn-input>
            <button type="submit" [disabled]="loading" class="submit-button">
                @if (loading) {
                    Loading...
                }
                @else {
                    Reset Password
                }
            </button>
        </form>
    </div>
</div>